<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
    <link rel="stylesheet" href="resources.css">
</head>
<body>
    <header>
        <div class="navbar">
            <img src="logo.png" class="background" alt="">

            <ul class="menu">
                <li><a href="index">Home</a></li>
                <li><a href="map">Map</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="resources">Resources</a></li>
                <li><a href = "login">Login</a></li>
            </ul>
        </div>

        <div class="Resources">
            <h1>A list of resources for each park</h1>
                <div class="container">
                    <div>
                        <br />
                        <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/central-park">Central Park </a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/east-boulder-community-park">East Boulder Community Park </a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/foothills-community-park">Foothills Community Park </a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/harlow-platts-park">Harlow Platts Park </a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/valmont-city-park">Valmont Park </a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/chautauqua-park">Chautauqua Park </a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/parks-recreation-pearl-street-mall">Pearl Street Mall </a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/andrews-arboretum">Andrews Arboretum</a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/ann-armstrong-park">Ann Armstrong Park</a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/arapahoe-ridge-park">Arapahoe Ridge Park</a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/arrow-wood-park">Arrow Wood Park</a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/aurora-7">Aurora 7 Park</a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/barker-park">Barker Park</a> <br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/beach">Beach Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/bear-creek-park">Bear Creek Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/mesa-memorial-park">Mesa Memorial Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/bluff-park">Bluff Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/boulder-creek-park">Boulder Creek Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/campbell-robertson-park">Campbell Robertson Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/canyon-pointe-park">Canyon Pointe Park</a><br />                        
                    </div>
                    <div>
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/catalpa-park">Catalpa Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/central-park">Central Park and Civic Area</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/chautauqua-park">Chautauqua Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/christensen-park">Christensen Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/columbine-park">Columbine Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/coot-lake">Coot Lake Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/crestview-park">Crestview Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/dakota-ridge-park-update">Dakota Ridge Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/palo-park-east">East Palo Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/eaton-park">Eaton Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/eben-g-fine-park">Eben G. Fine Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/smith-park">Edward Sell Smith Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/elks-neighborhood-park">Elks Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/elmers-two-mile-park">Elmers Two Mile Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/canyon-park">Emma Gomez Martinez Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/kids-fishing-pond">Evert Pierson Kids Fishing Pond</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/fitzpatrick-park">Fitzpatrick Park</a><br /> 
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/fortune-park">Fortune Park</a><br />  
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/olmstead-park">Fredrick Law Olmstead, Jr. Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/greenleaf-park">Greenleaf Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/heatherwood-park">Heatherwood Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/hiram-fullen-park"> Hiram Fullen Park</a><br />
                    </div>                   
                    <div>
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/holiday-park">Holiday Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/howard-heuston-park">Howard Heuston Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/keewaydin-meadows-park">Keewaydin Meadows Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/lovers-hill-park">Lover's Hill Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/martin-park">Martin Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/maxwell-park">Maxwell Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/meadow-glen-park">Meadow Glen Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/melody-park">Melody Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/north-boulder-park">North Boulder Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/palo-park-north">North Palo Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/parkside-park">Parkside Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/pineview-park">Pineview Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/salberg-center">Salberg Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/scott-carpenter-park">Scott Carpenter Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/shanahan-ridge-park">Shanahan Ridge Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/sister-city-plaza">Sister City Plaza</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/south-palo-park">South Palo Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/tantra-park">Tantra Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/violet-park">Vioilet Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/washington-village-park">Washington Village Park</a><br />
                        <a id="colortag" href="https://bouldercolorado.gov/parks-rec/wonderland-lake-park">Wonderland Lake Park</a><br />
                    </div>
                        
                </div>
                

        </div>



    </header>
    
</body>
</html>