* 
{
    margin: 0;
    padding: 0;
}


.navbar
{
    background: rgb(0,0,0,0.5);
    height: 80px;
}

.menu
{
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li
{
    display: inline-block;
    margin: 10px 5px;
}

.menu li a
{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-family: sans-serif;
    letter-spacing: 5px;
    border: 1px solid #fff;
}

.menu li a:hover
{
    background: #fff;
    transition: .4s;
    color: gray;
}

body{
    background-image: url("green_gradient.jpg");
    background-size: cover;
    background-position: center;
}

.container{
    padding-top: 100px;
}

.form{
    position: relative;
    z-index:1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input{
    outline: 1;
    background-color: lightgray;
    border: 0;
    width: 100%;
    padding: 10px;
    margin: 0 0 10px;
    vertical-align: middle;


}

.form button{
    cursor: pointer;
    width: 100%;
}

.form .message{
    margin: 15px 0 15px;
    color: white;
    font-size: 12px;
}

.form .message a{
    color:skyblue;
}

.form .register-form{
    margin: auto;
    width: 100%;
    padding: 50px;
}

.alert{
     padding: 20px;
  background-color: red;
  color: white;
  margin-bottom: 15px;
  width:100%;
}


.successAlert{
    padding: 20px;
    background-color: green;
    color: white;
    margin-bottom: 15px;
    width:100%;
}


.card {
    text-align: center;
  }
  
  .avatar {
    width: 65%;
    border-bottom: 1px solid rgba(0,0,0,0.125);
  }