* 
{
    margin: 0;
    padding: 0;
}

.navbar
{
    background: rgb(0,0,0,0.5);
    height: 80px;
}

header 
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(boulderflatirons.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.logo
{
    margin: 50px;
    height: 10px;

}

.menu
{
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li
{
    display: inline-block;
    margin: 10px 5px;
}

.menu li a
{
    text-decoration: none;
    color: #fff;
    padding: 5px;
    font-family: sans-serif;
    letter-spacing: 5px;
    border: 1px solid #fff;
}

.menu li a:hover
{
    background: #fff;
    transition: .4s;
    color: gold;
}

.Resources
{
    text-align:center;
    font-family: fantasy;

}

#colortag
{
    color:white;
}

.container{
    display:flex;
}

.container > div{
    flex: 1;
}

body
{
    background-color: gray;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}